<div class="subsection">
  <h2>twitter user (ja)</h2>
  <p>現在 <%= @users_count %> 人</p>
</div>
<div class="subsection">
  <h2>followers count ranking (ja)</h2>
  <table>
    <% @most_befollowed.each do |user| -%>
    <tr>
      <td><a href="http://twitter.com/<%= user[:screen_name] %>"><img src="<%= user[:profile_image_url] %>" alt="<%= user[:screen_name] %>"/></a></td>
      <td><%= user[:screen_name] %></td>
      <td><%= user[:followers_count] %></td>
    </tr>
    <% end -%>
  </table>
</div>
<div class="subsection">
  <h2>friends count ranking (ja)</h2>
  <table>
    <% @most_followed.each do |user| -%>
    <tr>
      <td><a href="http://twitter.com/<%= user[:screen_name] %>"><img src="<%= user[:profile_image_url] %>" alt="<%= user[:screen_name] %>"/></a></td>
      <td><%= user[:screen_name] %></td>
      <td><%= user[:friends_count] %></td>
    </tr>
    <% end -%>
  </table>
</div>
<div class="subsection">
  <p>Updated: <%= @updated_at %></p>
</div>
