<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
  <title>follotter</title>
  <script language="javascript">
    RAILS_ENV = "<%= RAILS_ENV %>";
  </script>
  <%= javascript_include_tag 'jquery-1.2.6.min' %>
  <%= javascript_include_tag 'jquery.progressbar.min' %>
  <%= javascript_include_tag 'follotter' %>
</head>
<body>
<div class="header">
  <h1>follotter</h1>
  <div class="nav">
  </div>
</div>
<div class="section">
<%= yield -%>
</div>
<div class="footer">
</div>
</body>
</html>

